body,html{
	min-width: 320px;
	margin: 0 auto;
}
.pro_icon_PC{
	background-repeat: no-repeat;
	background-image: url('../img/index/sp-gnb-pc.png');
}
.sp-gnb-phone{
	background-repeat: no-repeat;
	background-image: url('../img/index/sp-gnb-phone.png');
}
.Cookies{
	text-align: center;
	background: #52565a;
	line-height: 1.44;
	padding: 12px 46px 10px;
	position: relative;
}
.Cookies .Cookies_desc{
	font-size: 14px;
	color: #cacaca;
	word-break:break-all;
}
.Cookies .Cookies_link{
	display: inline-block;
	font-size: 14px;
	color: #fff;
}
.Cookies_btn_close{
	overflow: hidden;
	position: absolute;
	top: 5px;
	right: 10px;
	width: 20px;
	height: 20px;
	padding: 10px;
	font-size: 0;
	cursor: pointer;
	background-image: url('../img/index/gnb-btn-close.png');
}


/*Sam_ad开始*/
.Sam_ad{
	position: relative;
	background-color: #efefef;
	border-bottom: 1px solid #dadada;
}	
.Sam_ad .Sam_ad_inner{
	position: relative;
}
.Sam_ad p{
	position: relative;
	padding: 10px 0 8px;
	margin: 0 auto;
	text-align: center;
}
@media screen and (max-width:768px) {
	.Sam_ad p{
	padding: 0;
}
}
.Sam_ad p span{
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	color: #363636;
	line-height: 30px;
	text-transform: none;
}
.Sam_ad p a{
	display: inline-block;
	margin-left: 18px;
	font-size: 12px;
	color: #1428a0;
	font-weight: bold;
	line-height: 30px;
	font-size: 14px;
	text-decoration: none!important;	
}
@media screen and (max-width: 768px) {
	.Sam_ad p a{
	margin-left: 8px;
	display: block;
}
}
.icon_right{
	margin-left: 5px;
	display: inline-block;
	width: 7px;
	height: 12px;
	/*background-size: 130% auto;*/
	background-position: -80px -42px;
	vertical-align: middle;
}
.ad_cls{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}
.ad_cls .icon_close_ad{
	vertical-align: middle;
	display: inline-block;
	background-image: url('../img/index/ico-close.png');
	background-position: left top;
	width: 12px;
	height: 13px;
	transition: all 400ms;
}
.ad_cls .icon_close_ad:hover{
	background-position: left bottom;
	transition: all 400ms;
}
/*Sam_ad结束*/

/*nav开始*/
div.Sam_nav{
	position: relative;
	z-index: 1111;
	height: 65px;
}
.Sam_nav .gb_bar_pc{
	height: 65px;
	position: relative;
	background-color: #FFFFFF;
	border-bottom: 1px solid #DADADA;
}
.Sam_nav .gb_bar_pc .gb_logo{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 130px;
	height: 20px;
	transform: translateX(-50%) translateY(-50%);
}
.Sam_nav .gb_bar_pc .gb_logo span{
	background-position: 0 0;
}
ul.gb_nav_main{
	height: 64px;
	margin-bottom: 0;
	display: inline-block;
	max-width: 520px;
}
ul.gb_nav_main>li{
	float:left;
	vertical-align: top;
	padding: 0 6px;
	border-bottom: 3px solid transparent;
}
ul.gb_nav_main>li:hover{
	border-bottom: 3px solid #1428a0;
}
ul.gb_nav_main li:nth-of-type(1){
	padding-left: 0;
}
ul.gb_nav_main li>a{
	text-decoration: none;
	display: table-cell;
	position: relative;
	height: 62px;
	padding-top: 1px;
	font-weight: bold;
	color: #363636;
	line-height: 62px;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	text-transform: uppercase;	
}
ul.gb_nav_main li a:hover{
	color: #1428A0;
}

ul.gb_sub_nav{
	height: 64px;
	margin-bottom: 0;
	display: inline-block;
}
ul.gb_sub_nav li{
	float:left;
	vertical-align: top;
	padding: 0 6px;
	border-bottom: 3px solid transparent;
}
ul.gb_sub_nav li:hover{
	border-bottom: 3px solid #1428a0;
}
ul.gb_sub_nav li a{
	text-decoration: none;
	display: table-cell;
	position: relative;
	height: 62px;
	padding-top: 1px;
	font-weight: bold;
	color: #363636;
	line-height: 62px;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	text-transform: uppercase;	
}
ul.gb_sub_nav li a:hover{
	color: #1428A0;
}
ul.research{
	height: 64px;
	margin-bottom: 0;
	display: inline-block;
}
ul.research li{
	height: 64px;
	width: 18px;
	float:left;
	vertical-align: top;
	line-height: 64px;
}
ul.research li a{
	display: inline-block;
	width: 18px;
	height: 18px;
	background-position: -34px -22px;
	background-size: 160px auto;
	vertical-align: middle;
	/*margin-bottom: -;*/
	
}
/*电脑版下拉板块开始*/
.drop-desktop{
	position: absolute;
	top:66px;
	left: 0;
	right: 0;
	border: 1px solid #dadada;
	border-width: 1px 0;
	z-index: 1000;
	background: purple;
	transition: all 0.6s;
	transition-timing-function:ease-in-out;
	opacity: 1;
	transition-property: opacity,opacity;
	transition-duration: 1ms,1ms;
	/*transition: 0.5s ease-in-out;*/
}
/*.drop-desktop_inner{
	margin: 0 auto;
	padding-top: 47px;
	padding-bottom: 14px;
	padding-left: 25px;
	padding-right: 45px;
	box-sizing: border-box;
	max-width: 1230px;
	position: relative;
}*/
.drop_section ul li{
	padding-bottom: 20px;
}
.drop_section ul li a.content_title{
	margin-bottom: 11px;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}
.drop-desktop ul li .content_inner>a{
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	max-width: 100%;
	color: #363636;
	line-height: 20px;
	vertical-align: top;
	text-decoration: none;
	color: #FFFFFF;
}
.drop-desktop .Img_Section{
	display: inline-block;
	padding-bottom: 20px;
	position: relative;
	padding: 4px 0 20px;
	padding-right: 23px;
	text-align: right;
	padding-top: 30px;
}
.drop-desktop .Img_Section a{
	width: 100%;
	height: 100%;
	display: inline-block;
	
}
.drop-desktop .Img_Section img{
	width: 100%;
	height: 100%;
	display: inline-block;
}
.drop-desktop .cls_btn a{
	display: inline-block;
	padding-bottom: 20px;
	position: relative;
	padding: 4px 0 20px;
	padding-right: 23px;
	text-align: right;
	padding-top: 30px;
}
.gb_nav_main >li >div.drop-desktop{
	display: none;
}
.gb_nav_main >li:nth-of-type(1)>div.drop-desktop{
	background: orange;
}
.gb_nav_main >li:nth-of-type(2)>div.drop-desktop{
	background: pink;
}
.gb_nav_main >li:nth-of-type(3)>div.drop-desktop{
	background: greenyellow;
	/*display: block;*/
}
.gb_nav_main >li:nth-of-type(4)>div.drop-desktop{
	background: paleturquoise;
	/*display: block;*/
}
.gb_nav_main >li:nth-of-type(5)>div.drop-desktop{
	background: lavender;
	/*display: block;*/
}
/*.gb_nav_main >li:hover div.drop-desktop{
	display: block;
}*/
/*电脑班下拉板块结束*/

.block{
	display: block;
}
/*@keyframes fade-in {  
    0% {opacity: 0;} 
    40% {opacity: 0;}
    100% {opacity: 1;}  
}  
@-webkit-keyframes fade-in {
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
} 







/*手机header开始*/
.Sam_nav .gb_phone{
	height: 65px;
	position: relative;
	background-color: #FFFFFF;
	/*border-bottom: 1px solid #DADADA;*/
}
.Sam_nav .gb_phone .gb_logo{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 130px;
	height: 20px;
	background-size: 130px auto;
	transform: translateX(-50%) translateY(-50%);
}
.gb_phone_left,.gb_phone_right{
	line-height: 64px;	
}
.gb_phone_left .sp-gnb-phone{
	vertical-align: middle;
	display: inline-block;
	width: 25px;
	height: 20px;
	background-size: 130px auto;
	background-position: 0 -21px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 25px;
}
.gb_phone_right .research_phone{
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: 130px auto;
	background-position: -86px -41px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 25px;
}
.drop_phone{
	position: absolute;
	top: 64px;
	left: 0;
	width: 85.9%;
	border-bottom: 1px solid #DADADA;
	background-color: #fff;
	overflow-x: hidden;	
	z-index: 11111;
}
.drop_phone ul.drop_list_t{
	border-bottom: 1px solid #DADADA;
}
.drop_phone ul.drop_list_t li .fa{
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	display: block;
	position: relative;
	padding: 14px 0;
	padding-left: 24px;
	padding-right: 35px;
	color: #000;
	text-decoration: none;
}
.drop_phone ul.drop_list_b{
	margin-bottom: 100px;
}
.drop_phone ul.drop_list_b li >a{
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	display: block;
	position: relative;
	padding: 14px 0;
	padding-left: 24px;
	padding-right: 35px;
	color: #000;
	text-decoration: none;
}
.drop_phone ul.drop_list_t li >div.drop_list_phone{
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	/*border-bottom: 1px solid #DADADA;*/
	background-color: #fff;
	overflow-x: hidden;	
	z-index: 11112;
}
.drop_phone ul.drop_list_t li >div.drop_list_phone div.drop_list_back a{
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	display: block;
	position: relative;
	padding: 14px 0;
	padding-left: 24px;
	padding-right: 35px;
	color: #000;
	text-decoration: none;
}
.drop_phone ul.drop_list_t li >div.drop_list_phone ul li > a{
	/*font-weight: bold;*/
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	display: block;
	position: relative;
	padding: 14px 0;
	padding-left: 24px;
	padding-right: 35px;
	color: #000;
	text-decoration: none;
}
.drop_phone ul.drop_list_t li >div.drop_list_phone ul li > a.titie{
	font-weight: bold;
}



/*右边搜搜按钮功能实现开始*/

/*右边搜搜按钮功能实现结束*/

/*商品展示开始*/
section.shop_one_wrap{
	width: 100%;
	display: block;
	position: relative;

}
section.shop_one_wrap img{
	width: 100%;
}
section.shop_one_wrap .shop_one_pc_btn{
	position: absolute;
	right: 11vw;
	top: 50%;
	margin-top: 17%;
}

section.shop_one_wrap .shop_one_pc_btn a{
	position: relative;
	display: inline-block;
	border: 2px solid #000;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	background-color: transparent;
	font-weight: bold;
	transition: 0.5s ease-in-out;
	transition-property:background-color, border-color, color;
	line-height: 1;
	font-size: 13px;
	letter-spacing: 0.1em;
	white-space: normal;
	text-transform: uppercase;
	color: #000;
	padding: 12px 25px 11px;
	cursor: pointer;
}
section.shop_one_wrap .shop_one_pc_btn a:hover{
	color: #fff;
	border-color: #5f5f5f;
	background-color: #5F5F5F;
	transition: 0.5s ease-in-out;
}
section.shop_one_wrap .shop_one_pc_btn a:nth-of-type(1){
	margin-right: 30px;
}
section.shop_one_wrap .shop_one_phone{
	margin-top: -20px;
}
section.shop_one_wrap .shop_one_phone_btn{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	right: 0;
	top: 88%;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	text-align: center;
}
section.shop_one_wrap .shop_one_phone_btn a{
	display: inline-block;
	border:2px solid #000;
	border-radius: 5px;
	font-weight: bold;
	transition: 0.5s ease-in-out;
	transition-property:background-color, border-color, color;
	line-height: 1;
	font-size: 13px;
	letter-spacing: 0.1em;
	white-space: normal;
	text-transform: uppercase;
	color: #000;
	padding: 2.8vw 3.33vw 2.5vw;
	margin: 0;
	font-size: 3.056vw;
	text-decoration: none;
	text-align: center;
}
section.shop_one_wrap .shop_one_phone_btn a:nth-of-type(1){
	margin-right: 30px;
}
section.shop_one_wrap .shop_one_phone_btn a:hover{
	color: #fff;
	border-color: #5f5f5f;
	background-color: #5F5F5F;
	transition: 0.5s ease-in-out;
}


/*第二大部分*/
section.shop_two_wrap{
	width: 100%;
	display: block;
	position: relative;
}
section.shop_two_wrap img{
	display: block;
	width: 100%;
}
section.shop_two_wrap .shop_two_pc_btn{
	position: absolute;
	right: 10vw;
	top: 70%;
	/*margin-top: 17%;*/
}
section.shop_two_wrap .shop_two_pc_btn a{
	position: relative;
	display: block;
	border: 2px solid #000;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	background-color: rgba(255,255,255,0.2);
	font-weight: bold;
	transition: 0.5s ease-in-out;
	transition-property:background-color, border-color, color;
	line-height: 1;
	font-size: 13px;
	letter-spacing: 0.1em;
	white-space: normal;
	text-transform: uppercase;
	color: #000;
	padding: 12px 25px 11px;
	cursor: pointer;
	margin: 10px auto 0;
	width: 200px;
}
@media screen and (max-width: 992px) {
	section.shop_two_wrap .shop_two_pc_btn a{
		width:150px;
	}
	section.shop_two_wrap .shop_two_pc_btn{
	position: absolute;
	right: 10vw;
	top: 60%;
	/*margin-top: 17%;*/
	}
}
section.shop_two_wrap .shop_two_pc_btn a:hover{
	color: #fff;
	border-color: #5f5f5f;
	background-color: #5F5F5F;
	transition: 0.5s ease-in-out;
}

section.shop_two_wrap .shop_two_phone_btn{
	position: absolute;
	top: 75%;
	left: 0;
	right: 0;
	padding: 0;
	margin-top: 0;
	padding-bottom: 8vw;
	width: 100%;
	text-align: center!important;
	height: 32vw;
}
section.shop_two_wrap .shop_two_phone_btn a{
	display: block;
	border:2px solid #000;
	border-radius: 5px;
	font-weight: bold;
	transition: 0.5s ease-in-out;
	transition-property:background-color, border-color, color;
	line-height: 1;
	font-size: 13px;
	letter-spacing: 0.1em;
	white-space: normal;
	text-transform: uppercase;
	color: #000;
	padding: 2vw 3vw 2vw;
	margin: 0;
	font-size: 3.056vw;
	text-decoration: none;
	text-align: center;
	width:200px;
	margin:6px auto;
}
section.shop_two_wrap .shop_two_phone_btn a:hover{
	color: #fff;
	border-color: #5f5f5f;
	background-color: #5F5F5F;
	transition: 0.5s ease-in-out;
}
.p_l{
	padding: 0;
}



section.shop_three_wrap{
	width: 100%;
	display: block;
	position: relative;
	
}
section.shop_three_wrap img{
	width: 100%;
}
section.shop_three_wrap .shop_three_pc{
	height: 500px;
}
section.shop_three_wrap .superweek{
	position: absolute;
	top: 120px;
	padding-left:15%;
	box-sizing: border-box;
	font-family: "Microsoft YaHei", 微软雅黑, Tahoma, Verdana, Arial, Simsun, 宋体, sans-serif;
	white-space: normal;
	display: inline-block;
	vertical-align: middle;	
}
@media screen and (max-width: 992px) {
	section.shop_three_wrap .superweek{
	position: absolute;
	top: 80px;
	padding-left:15%;
	box-sizing: border-box;
	font-family: "Microsoft YaHei", 微软雅黑, Tahoma, Verdana, Arial, Simsun, 宋体, sans-serif;
	white-space: normal;
	display: inline-block;
	vertical-align: middle;	
}
}
section.shop_three_wrap img{
	width: 100%;
	height: 100%;
}
section.shop_three_wrap .superweek strong{
	display: block;
	padding-top: 10%;
	font-size: 46px;
	line-height: 60px;
	letter-spacing: 2px;
	color: #000;
}
section.shop_three_wrap .superweek span{
	margin-top: 20px;
	display: block;
	color: #000000;
	white-space: normal;
	
}
section.shop_three_wrap .superweek a{
	margin-top: 15px;
	padding: 12px 0px 11px;
	position: relative;
	display: block;
	border: 2px solid #000;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	background-color: rgba(255,255,255,0.2);
	font-weight: bold;
	transition: 0.5s ease-in-out;
	transition-property:background-color, border-color, color;
	line-height: 1;
	font-size: 13px;
	letter-spacing: 0.1em;
	white-space: normal;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	width: 120px;
	
}
section.shop_three_wrap .superweek a:hover{
	color: #fff;
	border-color: #5f5f5f;
	background-color: #5F5F5F;
	transition: 0.5s ease-in-out;
}
section.shop_three_wrap .phone_superweek{
	text-align: center;
}
section.shop_three_wrap .phone_superweek strong{
	display: block;
	padding-top: 10%;
	font-size: 38px;
	line-height: 46px;
	color: #000;
}
@media screen and (max-width: 414px) {
	section.shop_three_wrap .phone_superweek strong{
		display: block;
		padding-top: 10%;
		font-size: 30px;
		line-height:40px;
		color: #000;
}
}
section.shop_three_wrap .phone_superweek span{
	margin-top: 20px;
	display: block;
	color: #000000;
	white-space: normal;
	margin-bottom: 20px;
}
section.shop_three_wrap .phone_superweek a{
	padding: 12px 0px 11px;
	position: relative;
	display: block;
	margin: 0 auto;
	border: 2px solid #000;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	background-color: rgba(255,255,255,0.2);
	font-weight: bold;
	transition: 0.5s ease-in-out;
	transition-property:background-color, border-color, color;
	line-height: 1;
	font-size: 13px;
	letter-spacing: 0.1em;
	white-space: normal;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	width: 120px;
	
}
section.shop_three_wrap .phone_superweek a:hover{
	color: #fff;
	border-color: #5f5f5f;
	background-color: #5F5F5F;
	transition: 0.5s ease-in-out;
}

section.shop_four_wrap{
	width: 100%;
	display: block;
	position: relative;
}
section.shop_four_wrap img{
	width: 100%;
}
section.shop_four_wrap .shop_four_pc_btn{
	position: absolute;
	left:100px;
	top: 70%;
}
section.shop_four_wrap .shop_four_pc_btn a{
	margin-top: 15px;
	padding: 12px 0px 11px;
	position: relative;
	display: inline-block;
	border: 2px solid #000;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	background-color: rgba(255,255,255,0.2);
	font-weight: bold;
	transition: 0.5s ease-in-out;
	transition-property:background-color, border-color, color;
	line-height: 1;
	font-size: 13px;
	letter-spacing: 0.1em;
	white-space: normal;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	width: 120px;
	margin-right: 30px;
}
section.shop_four_wrap .shop_four_pc_btn a:hover{
	color: #fff;
	border-color: #5f5f5f;
	background-color: #5F5F5F;
	transition: 0.5s ease-in-out;
}
@media screen and (max-width: 1072px) {
	section.shop_four_wrap .shop_four_pc_btn{
	position: absolute;
	left:100px;
	top: 60%;
	}	
}
@media screen and (max-width: 992px) {
	section.shop_four_wrap .shop_four_pc_btn{
	position: absolute;
	left:100px;
	top: 50%;
}
}

section.shop_four_wrap .shop_four_phone_btn{
	position: absolute;
	top: 33%;
	left: 0;
	right: 0;
	padding: 0;
	margin-top: 0;
	padding-bottom: 8vw;
	width: 100%;
	text-align: center!important;
	height: 32vw;
}
section.shop_four_wrap .shop_four_phone_btn a{
	display: inline-block;
	border:2px solid #000;
	border-radius: 5px;
	font-weight: bold;
	transition: 0.5s ease-in-out;
	transition-property:background-color, border-color, color;
	line-height: 1;
	font-size: 13px;
	letter-spacing: 0.1em;
	white-space: normal;
	text-transform: uppercase;
	color: #000;
	padding: 2vw 3vw 2vw;
	margin: 0;
	font-size: 3.056vw;
	text-decoration: none;
	text-align: center;
	width:180px;
	margin:6px auto;
}

section.shop_four_wrap .shop_four_phone_btn a:hover{
	color: #fff;
	border-color: #5f5f5f;
	background-color: #5F5F5F;
	transition: 0.5s ease-in-out;
}
@media screen and (max-width: 478px) {
	section.shop_four_wrap .shop_four_phone_btn a{
		width: 150px;
}
}
/*商品展示结束*/



.mask{
	width: 100%;	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	z-index:26;
}



/*友情链接开始*/
.friend_link_wrap{
	border: 1px solid #d0d0d0;
	background: #F7F7F7;
	font-size: 0;
	
}
.friend_link{
	padding: 65px 0;
	word-break: break-all;
}
.friend_link .section_link{
	padding-bottom: 42px;
}
.friend_link .section_link .title{
	color: #363636;
	display: block;
	margin-bottom: 17px;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	height: 24px;
}
.friend_link .section_link ul li{
	margin-top: 11px;
	font-size: 0;
}
.friend_link .section_link ul li a{
	font-size: 14px;
	line-height: 1.571;
	font-weight: normal;
	color: #363636;
	word-break: break-all;
}
@media screen and (max-width:768px) {
	.friend_link .section_link ul li{
		background: #F5F5F5;
		margin-top: 20px;
}
}
@media screen and (max-width:768px) {
	.society{
		margin: 0 auto;
		display: inline-block;
	}
}
.friend_link_posit{
	position: relative;
	text-align: center;
}
.footcy{
	position: absolute;
	bottom: 5px;
	left: 15px;
}
/*友情链接结束*/